/*animate the background gradient position, use vh so that start/end syncs up viewport horizontal*/
@keyframes rainbow {
  from {
    background-position: -100vh 0;
  }
  to {
    background-position: 100vh 0;
  }
}

/*compatibility*/
@-moz-keyframes rainbow {
  from {
    background-position: -100vh 0;
  }
  to {
    background-position: 100vh 0;
  }
}
@-webkit-keyframes rainbow {
  from {
    background-position: -100vh 0;
  }
  to {
    background-position: 100vh 0;
  }
}
@-ms-keyframes rainbow {
  from {
    background-position: -100vh 0;
  }
  to {
    background-position: 100vh 0;
  }
}
@-o-keyframes rainbow {
  from {
    background-position: -100vh 0;
  }
  to {
    background-position: 100vh 0;
  }
}

.rainbow {
  box-sizing: border-box;
  position: relative;
  border: double 0.3em transparent;
  border-radius: 10px;
  /*added a colourstop here, without the third colourstop you get a hard edge*/
  background: linear-gradient(white, white),
    repeating-linear-gradient(
      to right,
      rgb(82, 82, 209),
      rgb(235, 50, 235),
      rgb(82, 82, 209)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;

  animation-name: rainbow;
  animation-duration: 3s;

  /*set animation to continue forever, and to move at a single rate instead of easing*/
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.border {
  box-sizing: border-box;
  border: solid 0.3em rgb(175, 107, 253);
  background: white;
  border-radius: 10px;
  position: relative;
}

.rainbow::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid grey;
  border-top-color: black;
  animation: loading 2s linear infinite;
  z-index: 100;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px 16px;
  justify-content: space-evenly;
}
